/Neural_Variability_IntegrativeNeurophis_BUAP/ERP_Amplitude_Fluctuations/RawData.gitignore
/Neural_Variability_IntegrativeNeurophis_BUAP/ERP_Amplitude_Fluctuations/PipelineData.gitignore
/Neural_Variability_IntegrativeNeurophis_BUAP/ERP_Amplitude_Fluctuations/FinalData.gitignore
*.asv
